{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Technology has been a dream come true for me. I have always been passionate about learning difficult things and striving to better myself. This passion has led me to pursue a career in technology, and I am always looking for new opportunities to further develop my skills. I am excited to see what the future holds.
    </p>
    <p>
        Programming can be very challenging at times, but it is also one of the most rewarding activities out there. Building applications that solve problems or makes peoples lives better, 
         gives me a great sense of accomplishment and fulfillment.
    </p>
</main>

{% endblock %}