{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Since I first started to learn Programming in 2016, I have excelled at software engineering, specializing in
developing .NET applications. I have gained expertise in designing, developing, and implementing software solutions using .NET technologies. I have successfully completed various projects, including SolidWorks Addin, detailing Task manager, and scheduling job tracker, which have greatly contributed to enhancing business operations and efficiency. My solid understanding of software engineering principles, coupled with my ability to effectively collaborate with cross-functional teams, enables me to deliver high-quality and innovative solutions within deadline-driven environments.
    </p>
    <p>
        Programming can be very challenging at times, but it is also one of the most rewarding activities out there. Building applications that solve problems or makes peoples lives better, 
         gives me a great sense of accomplishment and fulfillment.
    </p>
</main>

{% endblock %}