{% extends "base.html" %}

{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="picture ."
            />
            
            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>
                    <p>
                        Python program running on a local server for querying data from SQL database to display job data. 
                    </p>                 
                    <h3>
                        Problem that it solves.
                    </h3>   
                    <p>
                        Tool to keep management up to date on current job progression, revision and percentage of work being done by each employee. 
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>
                        <ul class="technology-list">
                            {% for category in project['categories'] %}
                                <li class="technology-list__item">{{ category }}</li>
                            {% endfor %}
                        </ul>
                        <p>No Link</p>
                        <p> Private Company Program.</p>
                    </article>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
