{% extends "base.html" %}

{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A website with images displayed."
            />
            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>
                    <p>
                        This project was designed to be a web site for my local media server at home. 
                        The current directory is displayed in the top corner. Images can be uploaded 
                        to the current file that you choose. All images in the selected file will be rendered to the page. 
                    </p>
                    <p>
                        Problem that it solves. 
                    </p>                      
                    <p>
                        Provides a quicker and easier way to upload images, than locating and pluging in a hard drive.
                    </p>
                    <p>
                        Built with HTML / CSS layout, styling of the web page. Python library Dropzone handles drag and drop image uploads. 
                        Python OS to travese files. Flask, Jinja2 for the request and user inputs.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>
                        <ul class="technology-list">
                            {% for category in project['categories'] %}
                                <li class="technology-list__item">{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View GitHub 
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
