
{% from "macros/svgs.html" import logo %}
{% macro header() %}
<header class="header"> 
    <div class="logo">
        <h1 class="header__name">CRAIG</h1>   
        <!-- <img class="header__image" src="static/img/brain-logo.png" alt="personal logo"> -->
        {{ logo(header__image) }}
        <h1>Lyons</h1>
    </div>
    <nav class="nav">
        <a href="{{ url_for('home') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('home') }}">
            Projects
        </a>
        <a href="{{ url_for('about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('about') }}">
            About
        </a>
        <a href="{{ url_for('contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('contact') }}">
            Contact
        </a>
    </nav>
</header>
{% endmacro %}